body{
    background-image: url(imagens/OSiteestámudando1.png);
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    min-width: 801px;
}

@media screen and (max-width: 800px){
   body{
    display: flex;
    justify-content: center;
     background-image: url(imagens/rep.png);
     background-size: 100vw 90vh;
   
   }
}